@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 2 equal columns */
  gap: 300px; /* Space between grid items */
}

.grid-item {
  /* background-color: lightblue; */
  height: 100%;
  padding: 20px;
  text-align: center;
  color: black;
  /* border: 1px solid #ddd; */
}
.grid-item a img {
  /* width: 100%; */
  /* height: 60%; */
}
.grid-item1 {
  width: 600px;
  padding: 20px;
  text-align: center;
  color: black;
  cursor: pointer;
}
.grid-item1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.grid-item1 ul li {
  position: relative;
  /* float: left; */
}

.grid-item1 ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px 50px;
  display: block;
  justify-content: space-between;
  /* font-size: 20px; */
}

.grid-item1 ul li ul.sub-menu {
  margin-top: 25px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sub-menu a {
  transform: translateX(50px);
}
.sub-menu a::before {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
  height: 1px;
  width: 45%;
  margin: auto;
  background: black;
  transform: scaleX(0); /* Start with no width */
  transform-origin: left;
  transition: transform 0.3s ease;
}
.sub-menu a:hover::before {
  transform: scaleX(1); /* Expand the underline */
}
.grid-item1 ul li:hover ul.sub-menu {
  display: block;
  opacity: 1;
}
.grid-item1 ul li:hover .sub-menu a {
  transform: translateX(0px);
}
.grid-item1 ul li:hover .head-bu {
  transform: translate(0, -25px);
}

.grid-item1 ul li ul.sub-menu li {
  width: 150px;
  height: 55px;
}

.grid-item1 ul li ul.sub-menu li a {
  padding: 10px;
  color: #000;
}

.head-bu {
  margin-left: -50px;
  transition: 0.4s;
  transform: translate(0, 25px);
}
.mouse-cursor {
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  position: relative;
  z-index: 1;
}
.mouse-cursor{
  animation: move-around 3s ease-in-out infinite alternate;
}
.mouse-cursor2{
  animation: move-around 2.8s ease-in-out infinite alternate;
}
.mouse-cursor3{
  animation: move-around 2.6s ease-in-out infinite alternate;
}

@keyframes move-around {
   0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.footer {
  background-color: #1f1f1f;
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease-in-out;
  
}
